USE [master]
GO
/****** Object:  Database [IVAN]    Script Date: 3/10/2026 1:26:32 PM ******/
CREATE DATABASE [IVAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IVAN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\IVAN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IVAN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\IVAN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IVAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IVAN]
GO
/****** Object:  Table [dbo].[EventComments]    Script Date: 3/10/2026 1:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventComments](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[EventId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Comment] [nvarchar](1000) NULL,
	[Rating] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventCoordinators]    Script Date: 3/10/2026 1:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventCoordinators](
	[EventId] [int] NOT NULL,
	[CoordinatorId] [int] NOT NULL,
	[PromotedFromVolunteer] [bit] NULL,
	[PromotedAt] [datetime] NULL,
	[PromotedBy] [int] NOT NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[EventId] ASC,
	[CoordinatorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventRegistrations]    Script Date: 3/10/2026 1:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventRegistrations](
	[RegistrationId] [int] IDENTITY(1,1) NOT NULL,
	[EventId] [int] NOT NULL,
	[VolunteerId] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[AppliedAt] [datetime] NULL,
	[ReviewedAt] [datetime] NULL,
	[ReviewedBy] [int] NULL,
	[ReviewNote] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[RegistrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 3/10/2026 1:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[OrganizationId] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Location] [nvarchar](500) NULL,
	[MaxVolunteers] [int] NULL,
	[Status] [nvarchar](50) NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CoverImageUrl] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 3/10/2026 1:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[ReferenceId] [int] NULL,
	[IsRead] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizations]    Script Date: 3/10/2026 1:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizations](
	[OrganizationId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](255) NULL,
	[Address] [nvarchar](500) NULL,
	[Website] [nvarchar](255) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[LogoUrl] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrganizationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProfileUpdateRequests]    Script Date: 3/10/2026 1:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfileUpdateRequests](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[NewFirstName] [nvarchar](100) NULL,
	[NewLastName] [nvarchar](100) NULL,
	[NewPhone] [nvarchar](20) NULL,
	[NewGender] [nvarchar](10) NULL,
	[NewDateOfBirth] [date] NULL,
	[NewProvince] [nvarchar](100) NULL,
	[NewAddress] [nvarchar](500) NULL,
	[NewSkillIds] [nvarchar](255) NULL,
	[Status] [nvarchar](50) NULL,
	[RequestedAt] [datetime] NULL,
	[ReviewedBy] [int] NULL,
	[ReviewedAt] [datetime] NULL,
	[ReviewNote] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedules]    Script Date: 3/10/2026 1:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedules](
	[ScheduleId] [int] IDENTITY(1,1) NOT NULL,
	[TaskId] [int] NOT NULL,
	[WorkDate] [date] NOT NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
	[Note] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 3/10/2026 1:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[SkillId] [int] IDENTITY(1,1) NOT NULL,
	[SkillName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportCategories]    Script Date: 3/10/2026 1:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportCategories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportRequests]    Script Date: 3/10/2026 1:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportRequests](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ProofUrl] [nvarchar](255) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ReviewedBy] [int] NULL,
	[ReviewedAt] [datetime] NULL,
	[RejectReason] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[Title] [nvarchar](255) NULL,
	[Priority] [nvarchar](50) NULL,
	[SupportLocation] [nvarchar](500) NULL,
	[BeneficiaryName] [nvarchar](255) NULL,
	[AffectedPeople] [int] NULL,
	[EstimatedAmount] [decimal](18, 2) NULL,
	[ContactEmail] [nvarchar](255) NULL,
	[ContactPhone] [nvarchar](20) NULL,
	[AdminNote] [nvarchar](max) NULL,
	[UpdatedAt] [datetime] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 3/10/2026 1:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[EventId] [int] NOT NULL,
	[CoordinatorId] [int] NOT NULL,
	[VolunteerId] [int] NOT NULL,
	[TaskDescription] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[AssignedAt] [datetime] NULL,
	[CompletedAt] [datetime] NULL,
	[ConfirmedAt] [datetime] NULL,
	[Note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfiles]    Script Date: 3/10/2026 1:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfiles](
	[UserId] [int] NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[FullName]  AS (([FirstName]+' ')+[LastName]) PERSISTED NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[Avatar] [nvarchar](500) NULL,
	[Address] [nvarchar](500) NULL,
	[WardCommune] [nvarchar](100) NULL,
	[District] [nvarchar](100) NULL,
	[Province] [nvarchar](100) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[EmergencyContactName] [nvarchar](200) NULL,
	[EmergencyContactPhone] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 3/10/2026 1:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserRoleId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/10/2026 1:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VolunteerCoordinators]    Script Date: 3/10/2026 1:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VolunteerCoordinators](
	[CoordinatorId] [int] NOT NULL,
	[VolunteerId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CoordinatorId] ASC,
	[VolunteerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VolunteerSkills]    Script Date: 3/10/2026 1:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VolunteerSkills](
	[VolunteerId] [int] NOT NULL,
	[SkillId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VolunteerId] ASC,
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EventComments] ON 

INSERT [dbo].[EventComments] ([CommentId], [EventId], [UserId], [Comment], [Rating], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (1, 7, 4, N'hello chào buổi tối', 3, CAST(N'2026-03-04T21:35:46.000' AS DateTime), CAST(N'2026-03-04T21:35:46.000' AS DateTime), 0)
INSERT [dbo].[EventComments] ([CommentId], [EventId], [UserId], [Comment], [Rating], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (2, 7, 4, N'hello', 3, CAST(N'2026-03-04T21:35:55.000' AS DateTime), CAST(N'2026-03-04T21:35:55.000' AS DateTime), 0)
INSERT [dbo].[EventComments] ([CommentId], [EventId], [UserId], [Comment], [Rating], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (3, 7, 4, N'132', 5, CAST(N'2026-03-04T21:36:04.000' AS DateTime), CAST(N'2026-03-04T21:36:04.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[EventComments] OFF
GO
INSERT [dbo].[EventCoordinators] ([EventId], [CoordinatorId], [PromotedFromVolunteer], [PromotedAt], [PromotedBy], [Status]) VALUES (5, 5, 1, CAST(N'2026-03-10T13:24:10.580' AS DateTime), 2, N'Active')
INSERT [dbo].[EventCoordinators] ([EventId], [CoordinatorId], [PromotedFromVolunteer], [PromotedAt], [PromotedBy], [Status]) VALUES (7, 6, 1, CAST(N'2026-03-10T13:24:10.580' AS DateTime), 2, N'Active')
GO
SET IDENTITY_INSERT [dbo].[EventRegistrations] ON 

INSERT [dbo].[EventRegistrations] ([RegistrationId], [EventId], [VolunteerId], [Status], [AppliedAt], [ReviewedAt], [ReviewedBy], [ReviewNote]) VALUES (1, 6, 1, N'Pending', CAST(N'2026-03-03T00:26:24.427' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[EventRegistrations] ([RegistrationId], [EventId], [VolunteerId], [Status], [AppliedAt], [ReviewedAt], [ReviewedBy], [ReviewNote]) VALUES (5, 7, 4, N'Rejected', CAST(N'2026-03-03T13:58:45.120' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[EventRegistrations] ([RegistrationId], [EventId], [VolunteerId], [Status], [AppliedAt], [ReviewedAt], [ReviewedBy], [ReviewNote]) VALUES (11, 5, 4, N'Approved', CAST(N'2026-03-10T13:24:10.580' AS DateTime), CAST(N'2026-03-10T13:24:10.580' AS DateTime), 2, N'Hồ sơ tốt, duyệt!')
SET IDENTITY_INSERT [dbo].[EventRegistrations] OFF
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([EventId], [OrganizationId], [Title], [Description], [Location], [MaxVolunteers], [Status], [StartDate], [EndDate], [CreatedAt], [UpdatedAt], [CoverImageUrl]) VALUES (5, 2, N'Dọn rác Hồ Tây', N'Hoạt động bảo vệ môi trường khu vực Hồ Tây', N'Hồ Tây, Hà Nội', NULL, N'Approved', CAST(N'2026-02-10' AS Date), CAST(N'2026-02-10' AS Date), CAST(N'2026-01-27T14:35:37.057' AS DateTime), NULL, N'/assets/images/events/hotay.png')
INSERT [dbo].[Events] ([EventId], [OrganizationId], [Title], [Description], [Location], [MaxVolunteers], [Status], [StartDate], [EndDate], [CreatedAt], [UpdatedAt], [CoverImageUrl]) VALUES (6, 3, N'Trồng cây gây rừng', N'Chung tay trồng cây xanh tại ngoại ô', N'Củ Chi, TP.HCM', NULL, N'Approved', CAST(N'2026-02-15' AS Date), CAST(N'2026-02-15' AS Date), CAST(N'2026-01-27T14:35:37.057' AS DateTime), NULL, N'/assets/images/events/trongcay.png')
SET IDENTITY_INSERT [dbo].[Events] OFF
GO
SET IDENTITY_INSERT [dbo].[Organizations] ON 

INSERT [dbo].[Organizations] ([OrganizationId], [Name], [Description], [Phone], [Email], [Address], [Website], [CreatedBy], [CreatedAt], [UpdatedAt], [LogoUrl]) VALUES (2, N'Tổ chức Môi Trường Xanh', N'Hoạt động vì môi trường và cộng đồng', N'0901111111', N'contact@xanh.org', N'Hà Nội', N'https://xanh.org', 2, CAST(N'2026-01-27T14:34:42.597' AS DateTime), NULL, N'/assets/images/organizations/thanhnientre.png')
INSERT [dbo].[Organizations] ([OrganizationId], [Name], [Description], [Phone], [Email], [Address], [Website], [CreatedBy], [CreatedAt], [UpdatedAt], [LogoUrl]) VALUES (3, N'Tổ chức Thanh Niên Trẻ', N'Hỗ trợ các hoạt động xã hội', N'0902222222', N'contact@tre.org', N'Hồ Chí Minh', N'https://tre.org', 3, CAST(N'2026-01-27T14:34:42.597' AS DateTime), NULL, N'/assets/images/organizations/thanhnientre.png')
SET IDENTITY_INSERT [dbo].[Organizations] OFF
GO
SET IDENTITY_INSERT [dbo].[ProfileUpdateRequests] ON 

INSERT [dbo].[ProfileUpdateRequests] ([RequestId], [UserId], [NewFirstName], [NewLastName], [NewPhone], [NewGender], [NewDateOfBirth], [NewProvince], [NewAddress], [NewSkillIds], [Status], [RequestedAt], [ReviewedBy], [ReviewedAt], [ReviewNote]) VALUES (1, 4, N'Nguyễn', N'An', N'0900000004', N'Female', CAST(N'2026-02-04' AS Date), N'Hà Nội', N'FPT University', N'11,7', N'Rejected', CAST(N'2026-03-03T00:36:26.250' AS DateTime), 1, CAST(N'2026-03-03T00:46:01.830' AS DateTime), NULL)
INSERT [dbo].[ProfileUpdateRequests] ([RequestId], [UserId], [NewFirstName], [NewLastName], [NewPhone], [NewGender], [NewDateOfBirth], [NewProvince], [NewAddress], [NewSkillIds], [Status], [RequestedAt], [ReviewedBy], [ReviewedAt], [ReviewNote]) VALUES (2, 4, N'Nguyễn', N'An', N'0900000004', N'Female', CAST(N'2026-02-04' AS Date), N'Hà Nội', N'FPT University', N'11,4,5,7', N'Rejected', CAST(N'2026-03-03T01:00:37.290' AS DateTime), 1, CAST(N'2026-03-03T01:00:59.677' AS DateTime), N'sao lắm skill thế?')
INSERT [dbo].[ProfileUpdateRequests] ([RequestId], [UserId], [NewFirstName], [NewLastName], [NewPhone], [NewGender], [NewDateOfBirth], [NewProvince], [NewAddress], [NewSkillIds], [Status], [RequestedAt], [ReviewedBy], [ReviewedAt], [ReviewNote]) VALUES (3, 4, N'Nguyễn', N'An', N'0900000004', N'Female', CAST(N'2026-02-04' AS Date), N'Hà Nội', N'FPT University', N'11', N'Approved', CAST(N'2026-03-03T01:03:57.230' AS DateTime), 1, CAST(N'2026-03-03T01:04:19.107' AS DateTime), N'ok ngon nhé duyệt')
SET IDENTITY_INSERT [dbo].[ProfileUpdateRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Schedules] ON 

INSERT [dbo].[Schedules] ([ScheduleId], [TaskId], [WorkDate], [StartTime], [EndTime], [Note], [CreatedAt]) VALUES (1, 1, CAST(N'2026-02-10' AS Date), CAST(N'06:30:00' AS Time), CAST(N'07:30:00' AS Time), N'Giai đoạn chuẩn bị', CAST(N'2026-03-10T13:24:10.583' AS DateTime))
INSERT [dbo].[Schedules] ([ScheduleId], [TaskId], [WorkDate], [StartTime], [EndTime], [Note], [CreatedAt]) VALUES (2, 2, CAST(N'2026-02-10' AS Date), CAST(N'07:30:00' AS Time), CAST(N'10:00:00' AS Time), N'Giai đoạn đón tiếp', CAST(N'2026-03-10T13:24:10.583' AS DateTime))
INSERT [dbo].[Schedules] ([ScheduleId], [TaskId], [WorkDate], [StartTime], [EndTime], [Note], [CreatedAt]) VALUES (3, 3, CAST(N'2026-06-01' AS Date), CAST(N'05:30:00' AS Time), CAST(N'07:00:00' AS Time), N'Chuẩn bị trước sự kiện', CAST(N'2026-03-10T13:24:10.583' AS DateTime))
SET IDENTITY_INSERT [dbo].[Schedules] OFF
GO
SET IDENTITY_INSERT [dbo].[Skills] ON 

INSERT [dbo].[Skills] ([SkillId], [SkillName]) VALUES (10, N'Cooking / Food Prep')
INSERT [dbo].[Skills] ([SkillId], [SkillName]) VALUES (9, N'Counseling / Mentoring')
INSERT [dbo].[Skills] ([SkillId], [SkillName]) VALUES (3, N'Event Planning')
SET IDENTITY_INSERT [dbo].[Skills] OFF
GO
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([TaskId], [EventId], [CoordinatorId], [VolunteerId], [TaskDescription], [Status], [AssignedAt], [CompletedAt], [ConfirmedAt], [Note]) VALUES (1, 5, 5, 4, N'Chuẩn bị 50 bộ dụng cụ nhặt rác (kẹp, bao tải)', N'Pending', CAST(N'2026-03-10T13:24:10.580' AS DateTime), NULL, NULL, N'Nhận tại kho A trước 7h sáng')
INSERT [dbo].[Tasks] ([TaskId], [EventId], [CoordinatorId], [VolunteerId], [TaskDescription], [Status], [AssignedAt], [CompletedAt], [ConfirmedAt], [Note]) VALUES (2, 5, 5, 6, N'Hướng dẫn và check-in tình nguyện viên mới', N'In Progress', CAST(N'2026-03-10T13:24:10.580' AS DateTime), NULL, NULL, N'Đứng tại cổng chính công viên nước')
INSERT [dbo].[Tasks] ([TaskId], [EventId], [CoordinatorId], [VolunteerId], [TaskDescription], [Status], [AssignedAt], [CompletedAt], [ConfirmedAt], [Note]) VALUES (3, 7, 6, 5, N'Setup bàn đăng ký, loa đài và background chụp ảnh', N'Completed', CAST(N'2026-03-10T13:24:10.580' AS DateTime), NULL, NULL, N'Hoàn thành xuất sắc nhiệm vụ')
SET IDENTITY_INSERT [dbo].[Tasks] OFF
GO
INSERT [dbo].[UserProfiles] ([UserId], [FirstName], [LastName], [Phone], [DateOfBirth], [Gender], [Avatar], [Address], [WardCommune], [District], [Province], [PostalCode], [EmergencyContactName], [EmergencyContactPhone], [CreatedAt], [UpdatedAt]) VALUES (1, N'Admin', N'IVAN', N'0900000001', NULL, N'Male', NULL, N'', NULL, NULL, N'Hà Nội', NULL, NULL, NULL, CAST(N'2026-01-27T14:34:37.9550928' AS DateTime2), NULL)
INSERT [dbo].[UserProfiles] ([UserId], [FirstName], [LastName], [Phone], [DateOfBirth], [Gender], [Avatar], [Address], [WardCommune], [District], [Province], [PostalCode], [EmergencyContactName], [EmergencyContactPhone], [CreatedAt], [UpdatedAt]) VALUES (2, N'Tổ chức', N'Xanh', N'0900000002', NULL, N'Other', NULL, N'', NULL, NULL, N'Hà Nội', NULL, NULL, NULL, CAST(N'2026-01-27T14:34:37.9550928' AS DateTime2), NULL)
INSERT [dbo].[UserProfiles] ([UserId], [FirstName], [LastName], [Phone], [DateOfBirth], [Gender], [Avatar], [Address], [WardCommune], [District], [Province], [PostalCode], [EmergencyContactName], [EmergencyContactPhone], [CreatedAt], [UpdatedAt]) VALUES (3, N'Tổ chức', N'Trẻ', N'0900000003', NULL, N'Other', NULL, NULL, NULL, NULL, N'Hồ Chí Minh', NULL, NULL, NULL, CAST(N'2026-01-27T14:34:37.9550928' AS DateTime2), NULL)
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([UserRoleId], [UserId], [Role]) VALUES (1, 1, N'Admin')
INSERT [dbo].[UserRoles] ([UserRoleId], [UserId], [Role]) VALUES (2, 2, N'Organization')
INSERT [dbo].[UserRoles] ([UserRoleId], [UserId], [Role]) VALUES (3, 3, N'Organization')
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Email], [PasswordHash], [IsActive], [CreatedAt]) VALUES (1, N'admin@ivan.com', N'123456', 1, CAST(N'2026-01-27T14:34:33.590' AS DateTime))
INSERT [dbo].[Users] ([UserId], [Email], [PasswordHash], [IsActive], [CreatedAt]) VALUES (2, N'org1@ivan.com', N'123456', 1, CAST(N'2026-01-27T14:34:33.590' AS DateTime))
INSERT [dbo].[Users] ([UserId], [Email], [PasswordHash], [IsActive], [CreatedAt]) VALUES (3, N'org2@ivan.com', N'123456', 1, CAST(N'2026-01-27T14:34:33.590' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
INSERT [dbo].[VolunteerCoordinators] ([CoordinatorId], [VolunteerId]) VALUES (5, 4)
INSERT [dbo].[VolunteerCoordinators] ([CoordinatorId], [VolunteerId]) VALUES (5, 6)
INSERT [dbo].[VolunteerCoordinators] ([CoordinatorId], [VolunteerId]) VALUES (6, 5)
GO
INSERT [dbo].[VolunteerSkills] ([VolunteerId], [SkillId]) VALUES (1, 2)
INSERT [dbo].[VolunteerSkills] ([VolunteerId], [SkillId]) VALUES (1, 10)
INSERT [dbo].[VolunteerSkills] ([VolunteerId], [SkillId]) VALUES (4, 2)
GO
/****** Object:  Index [UQ_Event_Volunteer]    Script Date: 3/10/2026 1:26:32 PM ******/
ALTER TABLE [dbo].[EventRegistrations] ADD  CONSTRAINT [UQ_Event_Volunteer] UNIQUE NONCLUSTERED 
(
	[EventId] ASC,
	[VolunteerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Skills__B63C6571A3A604B4]    Script Date: 3/10/2026 1:26:32 PM ******/
ALTER TABLE [dbo].[Skills] ADD UNIQUE NONCLUSTERED 
(
	[SkillName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SupportC__737584F6C7A6940E]    Script Date: 3/10/2026 1:26:32 PM ******/
ALTER TABLE [dbo].[SupportCategories] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534E3AD00D9]    Script Date: 3/10/2026 1:26:32 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EventComments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EventComments] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[EventCoordinators] ADD  DEFAULT ((1)) FOR [PromotedFromVolunteer]
GO
ALTER TABLE [dbo].[EventCoordinators] ADD  DEFAULT (getdate()) FOR [PromotedAt]
GO
ALTER TABLE [dbo].[EventCoordinators] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[EventRegistrations] ADD  DEFAULT (getdate()) FOR [AppliedAt]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Organizations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProfileUpdateRequests] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ProfileUpdateRequests] ADD  DEFAULT (getdate()) FOR [RequestedAt]
GO
ALTER TABLE [dbo].[Schedules] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SupportRequests] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SupportRequests] ADD  DEFAULT ('') FOR [Title]
GO
ALTER TABLE [dbo].[SupportRequests] ADD  DEFAULT ('MEDIUM') FOR [Priority]
GO
ALTER TABLE [dbo].[SupportRequests] ADD  DEFAULT ('') FOR [SupportLocation]
GO
ALTER TABLE [dbo].[SupportRequests] ADD  DEFAULT ('') FOR [BeneficiaryName]
GO
ALTER TABLE [dbo].[SupportRequests] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT (getdate()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[UserProfiles] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EventCoordinators]  WITH CHECK ADD FOREIGN KEY([CoordinatorId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[EventCoordinators]  WITH CHECK ADD FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([EventId])
GO
ALTER TABLE [dbo].[EventCoordinators]  WITH CHECK ADD FOREIGN KEY([PromotedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[EventRegistrations]  WITH CHECK ADD  CONSTRAINT [FK_EventRegistrations_Events] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([EventId])
GO
ALTER TABLE [dbo].[EventRegistrations] CHECK CONSTRAINT [FK_EventRegistrations_Events]
GO
ALTER TABLE [dbo].[EventRegistrations]  WITH CHECK ADD  CONSTRAINT [FK_EventRegistrations_Reviewer] FOREIGN KEY([ReviewedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[EventRegistrations] CHECK CONSTRAINT [FK_EventRegistrations_Reviewer]
GO
ALTER TABLE [dbo].[EventRegistrations]  WITH CHECK ADD  CONSTRAINT [FK_EventRegistrations_Users] FOREIGN KEY([VolunteerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[EventRegistrations] CHECK CONSTRAINT [FK_EventRegistrations_Users]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_Organizations] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organizations] ([OrganizationId])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_Organizations]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[Organizations]  WITH CHECK ADD  CONSTRAINT [FK_Organizations_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Organizations] CHECK CONSTRAINT [FK_Organizations_Users]
GO
ALTER TABLE [dbo].[ProfileUpdateRequests]  WITH CHECK ADD  CONSTRAINT [FK_ProfileUpdateReq_Reviewer] FOREIGN KEY([ReviewedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ProfileUpdateRequests] CHECK CONSTRAINT [FK_ProfileUpdateReq_Reviewer]
GO
ALTER TABLE [dbo].[ProfileUpdateRequests]  WITH CHECK ADD  CONSTRAINT [FK_ProfileUpdateReq_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ProfileUpdateRequests] CHECK CONSTRAINT [FK_ProfileUpdateReq_Users]
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD  CONSTRAINT [FK_Schedules_Tasks] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Tasks] ([TaskId])
GO
ALTER TABLE [dbo].[Schedules] CHECK CONSTRAINT [FK_Schedules_Tasks]
GO
ALTER TABLE [dbo].[SupportRequests]  WITH CHECK ADD  CONSTRAINT [FK_SupportRequests_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[SupportCategories] ([CategoryId])
GO
ALTER TABLE [dbo].[SupportRequests] CHECK CONSTRAINT [FK_SupportRequests_Categories]
GO
ALTER TABLE [dbo].[SupportRequests]  WITH CHECK ADD  CONSTRAINT [FK_SupportRequests_Reviewer] FOREIGN KEY([ReviewedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[SupportRequests] CHECK CONSTRAINT [FK_SupportRequests_Reviewer]
GO
ALTER TABLE [dbo].[SupportRequests]  WITH CHECK ADD  CONSTRAINT [FK_SupportRequests_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[SupportRequests] CHECK CONSTRAINT [FK_SupportRequests_Users]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Coordinator] FOREIGN KEY([CoordinatorId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Coordinator]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Events] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([EventId])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Events]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Volunteer] FOREIGN KEY([VolunteerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Volunteer]
GO
ALTER TABLE [dbo].[UserProfiles]  WITH CHECK ADD  CONSTRAINT [FK_UserProfiles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserProfiles] CHECK CONSTRAINT [FK_UserProfiles_Users]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users]
GO
ALTER TABLE [dbo].[VolunteerCoordinators]  WITH CHECK ADD  CONSTRAINT [FK_VC_Coordinator] FOREIGN KEY([CoordinatorId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[VolunteerCoordinators] CHECK CONSTRAINT [FK_VC_Coordinator]
GO
ALTER TABLE [dbo].[VolunteerCoordinators]  WITH CHECK ADD  CONSTRAINT [FK_VC_Volunteer] FOREIGN KEY([VolunteerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[VolunteerCoordinators] CHECK CONSTRAINT [FK_VC_Volunteer]
GO
ALTER TABLE [dbo].[VolunteerSkills]  WITH CHECK ADD  CONSTRAINT [FK_VolunteerSkills_Skills] FOREIGN KEY([SkillId])
REFERENCES [dbo].[Skills] ([SkillId])
GO
ALTER TABLE [dbo].[VolunteerSkills] CHECK CONSTRAINT [FK_VolunteerSkills_Skills]
GO
ALTER TABLE [dbo].[VolunteerSkills]  WITH CHECK ADD  CONSTRAINT [FK_VolunteerSkills_Users] FOREIGN KEY([VolunteerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[VolunteerSkills] CHECK CONSTRAINT [FK_VolunteerSkills_Users]
GO
ALTER TABLE [dbo].[EventComments]  WITH CHECK ADD  CONSTRAINT [CHK_Rating] CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[EventComments] CHECK CONSTRAINT [CHK_Rating]
GO
USE [master]
GO
